Django>=6.1,<6.2
django-cors-headers>=4.6,<5
dj-database-url>=2.3,<3
gunicorn>=23,<24
psycopg[binary]>=3.2,<4
python-dotenv>=1.0,<2
requests>=2.32,<3
whitenoise>=6.8,<7
pywebpush>=2.3,<3
djangorestframework>=3.16,<4